@import 'base/variables';
@import 'base/mixins';
@import 'blocks/container';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/avantages';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoSansCyrl', sans-serif;
}