.container {
    margin: 0 auto;
    max-width: 950px;
}

@media (max-width: 991px) {
    .container {
        max-width: 740px;
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
}